body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0; /* Color de fondo */
}

h2 {
    color: #fff;
    margin-top: 10px;
    padding: 1px;
    margin-left: 5px;
    font-size: 21px;
}

.Home {
    padding: 0%;
    margin-top: -3%;
    margin-left: 90%;
    width: 30px;
    height: 30px;
    transition: all 0.3s ease;
}
 
.container {
    display: flex;
    position: relative;
}

.sidebar {
    width: 220px;
    background-color: #033076;
    color: #fff;
    padding: 20px;
    position: absolute;
    top: 0.1px;
    bottom: 0;
    border-radius: 0 15px 15px 0;
    transition: transform 0.3s ease-in-out;
    transform: translateX(-100%);
    height: 93.2%;
}
#listaCotizaciones {
    position: fixed;
    top: 24%; /* Ajusta el valor según tus preferencias */
    left: 69px; /* Ajusta el valor según tus preferencias */
    display: none;
    font-size: 15px;
    max-height: 1px;
}

#mostrarCotizaciones {
    position: fixed;
    top: 20%; /* Ajusta el valor según tus preferencias */
    display: flex;
    font-size: 19px;
}

#mostrarCotizaciones img {
    width: 27px;
    height: 24px;
    margin-right: 19px;
}
#listaUsuarios {
    position: fixed;
    margin-right: 2%;
    font-size: 15px;
    margin-left: 45px;
    padding-left: 0;
    list-style: none;
    top: 33%;
}

#listaUsuarios li {
    margin-top: 5px; /* Ajusta el valor según tus preferencias para reducir el espacio */
    margin-bottom: 1px;
    padding: 1px;
}

#mostrarUsuarios {
    position: fixed;
    top: 30%;
    display: flex;
    font-size: 19px;
}

#mostrarUsuarios img {
    width: 27px;
    height: 24px;
    margin-right: 19px;
}



#listaHistorial {
    position: fixed;
    top: 46%; /* Ajusta el valor según tus preferencias */
    left: 67px; /* Ajusta el valor según tus preferencias */
    font-size: 15px;
    margin: 0;
    padding: 0;
    list-style: none;
    display: none;
}

#listaHistorial li {
    margin-bottom: 1px;
    padding: 1px;
}

#mostrarHistorial {
    position: fixed;
    top: 42%; /* Ajusta el valor según tus preferencias */
    left: 20px; /* Ajusta el valor según tus preferencias */
    display: flex;
    font-size: 19px;
}

#mostrarHistorial img {
    margin-left: -5px;
    margin-top: -6px;
    width: 40px;
    height: 40px;
    margin-right: 13px;
}

#mostrarlinea img {
    text-align: center;
    position: fixed;
    top: 53%; /* Ajusta el valor según tus preferencias */
    left: 5%; /* Ajusta el valor según tus preferencias */
    color: black;
    width: 230px; /* Ajusta el tamaño del icono según tus preferencias */
    height: 100px; /* Asegura que la altura sea igual al ancho para mantener la forma circular */
}


#mostrarConfiguracion {
    position: fixed;
    top: 80%; /* Ajusta el valor según tus preferencias */
    display: flex;
    font-size: 19px;
}

#mostrarConfiguracion img {
    margin-left: -5px;
    margin-top: 2px;
    width: 22px; /* Ajusta el tamaño del icono según tus preferencias */
    height: 22px; /* Asegura que la altura sea igual al ancho para mantener la forma circular */
    margin-right: 29px; /* Espacio entre el icono y el texto */   
}

#mostrarSalida {
    position: fixed;
    top: 87%; /* Ajusta el valor según tus preferencias */
    display: flex;
    font-size: 19px;
}

#mostrarSalida img {
    margin-left: -5px;
    margin-top: -4px;
    width: 28px; /* Ajusta el tamaño del icono según tus preferencias */
    height: 28px; /* Asegura que la altura sea igual al ancho para mantener la forma circular */
    margin-right: 22px; /* Espacio entre el icono y el texto */   
}


.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar li {
    margin-bottom: 20px;
}

.sidebar a {
    color: #8b8c8d;
    text-decoration: none;
}

.content {
    margin-top: -20px;
    flex: 1;
    padding: 25px;
    background-color: #ffffff; /* Color de fondo */
    margin-left: 0px; /* Ajusta el margen izquierdo según el ancho del menú */
    align-items: center; /* Centra verticalmente los elementos */
}

.content h1 {
    flex: 1; /* Ocupa el espacio restante */
    color: rgb(0, 0, 0); /* Color de texto */
    padding: 10px; /* Espaciado interno */
    margin: 0; /* Margen cero para evitar espacios adicionales */
    font-size: 24px; /* Tamaño de fuente */
    margin-left: 30px; /* Margen hacia la derecha para el encabezado */
}

.content p {
    margin-top: 0px; /* Espacio superior para el párrafo */
    margin-left: 40px; /* Margen hacia la derecha para el párrafo */
}
#Campana {
    position: fixed;
    top: 5%; /* Ajusta la posición vertical según tus preferencias */
    left: 78%; /* Ajusta la posición horizontal según tus preferencias */
    display: flex;
    align-items: center;
    
}

#Campana img {
    width: 25px;
    height: 25px;
    margin-right: 5px; /* Ajusta el margen entre el icono y la notificación */
}

.notification-count {
    position: fixed;
    top: 4.5%; /* Ajusta la posición vertical para que quede alineada con la campana */
    left: calc(78% + 25px); /* Ajusta la posición horizontal para que quede al lado de la campana */
    background-color: red; /* Color de fondo del número */
    color: white; /* Color de texto del número */
    font-size: 14px; /* Tamaño de fuente del número */
    padding: 2px 7px; /* Espaciado interno del número */
    border-radius: 50%; /* Forma circular */
    box-shadow: 0 0 10px rgba(0, 0, 0.1, 0.1);
    z-index: 9999; /* Ajusta el valor según sea necesario para que la notificación esté por encima de otros elementos */
}

/* Estilo base para .user-info */
.user-info {
    display: flex;
    align-items: center;
    position: fixed;
    top: 4%;
    right: 20px;
}

.user-logo {
    width: 70px;
    height: 45px;
    border-radius: 1%;
    overflow: hidden;
    margin-right: 10px;
}

.user-logo img {
    width: 100%;
    height: auto;
}

.user-role {
    margin-top: -2px;
    color: #000000;
    font-size: 18px;
}
.user-info {
    margin-top: -5px;
    right: auto; /* Resetea la posición "right" */
    left: 83.5%; /* Posición a la izquierda */
}

.icon.white {
    filter: invert(1);
}

.toggle-button {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 2;
    background: none;
    border: none;
    cursor: pointer;
}

/* Estilos para el icono del menú */
.icon {
    width: 30px;
    height: 30px;
    transition: all 0.3s ease;
}













